html {
    height: 100%;
    width: 100%;
}

body {
    font-family:sans-serif;
    height: 100%;
    background-color: #EEE;
    overflow: hidden;
}

#key {
    display: flex;
}

#key h1 {
    flex: 1;
}

#key svg {
    margin-right: 10px;
}

#key div {
    flex: 3;
    font-size: 12px;
    font-weight: 300;
    color: gray;
}

#built-with {
    width: calc(100% - 40px);
    text-align: right;
    position: absolute; 
    bottom: 20px;
}

.node {
cursor: pointer;
}

.overlay{
  background-color:#EEE;
}

.node text {
font-size:10px;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}

.templink {
    fill: none;
    stroke: red;
    stroke-width: 3px;
}

.ghostCircle.show{
    display:block;
}

.ghostCircle, .activeDrag .ghostCircle{
    display: none;
}

#d3-tree {
    height: 100%;
    width: 100%;
    background-color: blue;
}

#tree-container {
    position: absolute;
    height: 100%;
    width: 100%;
}

#tree-container.side-panel {
    width: 70%;
}

#detail-container {
    position: absolute;
    top: 30px;
    right: 30px;
    height: calc(100% - 70px);
    width: calc(20% + 40px);
    z-index: 10;
    background-color: #EEE;
    border: solid 1px gray;
    -webkit-transition: width 0.25s ease-in-out;
    -moz-transition: width 0.25s ease-in-out;
    -o-transition: width 0.25s ease-in-out;
    transition: width 0.25s ease-in-out;
}

#detail-container h1,h2,h3,p,pre {
    direction: ltr;
}

#detail-container.expanded {
    width: calc(30% + 40px);
}

#detail-container #caption {
    display: block;
    opacity: 0;
    padding: 20px;
}

#detail-container.show-caption #caption {
    opacity: 1;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}

#detail-container.hide-caption #caption {
    display: none;
}

#info-container {
    height: 100%;
    display: none;
    opacity: 0;
}

/* info container layout for display a function */

#info-container #dc-description-container,
#info-container #dc-code-container {
    border: solid 1px #A8A8A8;
    border-radius: 5px;
}

#info-container .module #dc-description-container {
    height: 100%;
}

#info-container .module #dc-code-container {
    display: none;
}

#detail-container.expanded #info-container {
    display: block;
}

#detail-container.show-info #info-container {
    opacity: 1;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}

#info-container #toggle-tab {
    position: absolute;
    top: 20px;
    right: 30px;
    margin: 0;
    display: none;
    border: none;
    background-color: #337ab7;
    color: white;
    z-index: 10;
}

/* info container layout for display a module function */

#info-container.show-module #dc-description-container,
#info-container.show-module #dc-code-container {
    border: none;
}

#info-container.show-module #toggle-tab {
    width: auto;
    display: inline-block;
}

#info-container.show-module #dc-description-container {
    height: 100%;
}

#info-container.show-module #dc-code-container {
    display: none;
    height: 100%;
    width: 100%;
    z-index: 1;
}

#toggle-tab.show-code ~ #dc-description-container {
    display: none;
}

#toggle-tab.show-code ~ #dc-code-container {
    display: block;
}

#caption {
    /* position: absolute;
    top: 30px;
    right: 30px;
    height: calc(100% - 70px);
    width: calc(20% + 40px);
    z-index: 10;
    background-color: #EEE;
    padding: 20px;
    border: solid 1px gray; */
    height: 100%;
    width: 100%;
    opacity: 1;
    padding: 20px;
}

#caption h1 {
    font-size: 20px;
    font-weight: 400;
    margin-top: 0px;
}

#caption h3 {
    font-size: 14px;
    font-weight: 300;
    margin: 20px 0;
    color: gray;
    line-height: 1.5;
}

#caption h5,
#key h1 {
    font-size: 12px;
    font-weight: 300;
    color: gray;
    margin: 0;
}

#caption a {
    color: gray;
}

#caption hr {
    margin-top: 15px;
    margin-bottom: 20px; 
    border-top: solid 1px gray;
}

#button-container {
    position: fixed; 
    left: 30px; 
    bottom: 30px; 
    z-index: 10;
}

.button {
    display: inline-block;
    position: relative;
    width: 80px;
    text-align: center;
    padding: 5px 10px;
    margin-top: 10px;
    border: solid 1px gray;
    border-radius: 5px;
    font-size: 10px;
    color: gray;
    cursor: pointer;
}

#refresh-button {
    margin-left: 15px;
}

.button:hover {
    color: #484848;
    border-color: #484848;
}

#dc-code-text {
    margin-bottom: 10px;
    bottom: 0px;
}

#dc-code-container {
    height:45%;
    /*max-height: 400px;*/
    bottom:0px;
    overflow-y: scroll;
}

#dc-description-container {
    height:50%;
    overflow-y: scroll;
}

#dc-description {
    background-color: #EEE;
    border: none;
    word-wrap: break-word;
    word-break: break-word;
    padding: 30px;
    font-family: sans-serif;
    font-weight: 300;
    font-size: 14px;
}

#dc-description h1, h2, h3, h4, p, pre {
    margin: 0;
}

#dc-description h1 {
    margin-top: 0px;
}

#dc-description p {
    white-space: pre-wrap;
}

#search-container {
    position: fixed;
    top: 30px; 
    left: 30px;
    z-index: 10;
    width: 15%;
}

#search-bar {
    position: relative;
    border: solid 1px gray;
    background-color: #EEE;
    border-radius: 5px;
    padding: 5px 30px 5px 10px;
    font-size: 12px;
    width: 100%;
    color: gray;
}

#search-bar + .fa-search {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5%;
    z-index: 10;
    color: #A8A8A8;
    margin-left: 5px;
    cursor: pointer;
}

#search-bar + .fa-search:hover {
    color: gray;
}