html {
    height: 100%;
    width: 100%;
}

body {
    margin: 0px;
    font-family:sans-serif;
    height: 100%;
}

#tree-container {
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

#caption {
    position: absolute;
    bottom: 8%;
    left: 5%;
    width: 20%;
    z-index: 10;
    background-color: #EEE;
    padding: 10px 20px;
}

#caption h1 {
    font-size: 20px;
    font-weight: 400;
}

#caption h3 {
    font-size: 14px;
    font-weight: 300;
    margin: 0 0 0px 0;
    color: gray;
}

#caption h5,
#caption #key h1 {
    font-size: 12px;
    font-weight: 300;
    color: gray;
    text-transform: none;
    margin: 0;
}

#caption a {
    color: gray;
}

#caption #key {
    display: flex;
    margin: 20px 0px;
}

#caption #key h1 {
    flex: 1;
}

#caption #key svg {
    margin-right: 10px;
}

#caption #key div {
    flex: 2;
    float: right;
    font-size: 12px;
    font-weight: 300;
    color: gray;
}

.node {
cursor: pointer;
}

.overlay{
  background-color:#EEE;
}

.node text {
font-size:10px;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}

.templink {
    fill: none;
    stroke: red;
    stroke-width: 3px;
}

.ghostCircle.show{
    display:block;
}

.ghostCircle, .activeDrag .ghostCircle{
    display: none;
}

#detail-container {
    visibility: hidden;
    overflow-y: scroll;
    height: 100%;
    width: 25%;
    position: absolute;
    right: 0%;
    z-index: 10;
    background-color: white;
    resize: horizontal;
    overflow: hidden;
    direction: rtl;
}

#detail-container h1,h2,h3,p,pre {
    direction: ltr;
}

#reset-button {
    display: inline-block;
    position: relative;
    padding: 5px 10px;
    margin-top: 20px;
    border: solid 1px gray;
    border-radius: 5px;
    font-size: 10px;
    color: gray;
    cursor: pointer;
}

#reset-button:hover {
    color: #484848;
    border-color: #484848;
}

#dc-code-container {
    max-height: 400px;
    overflow-y: scroll;
}

#dc-description-container {
    max-height: 400px;
    overflow-y: scroll;
}
